<%- include partials/header.ejs %>


<style>
body {
    background-color: #c0e8e7;
    background-image: url("../images/final.png") ;
}
h1 {
    color: #ca2536;
    margin-left: 360px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    text-transform:uppercase;
    position: relative;
        font-weight: 100;
    margin-top: 22.5%;
    letter-spacing: 8px;
} 
    h3{
    color: #487F7D;
    margin-left: 340px;
    font-family: 'Poiret One', cursive;   
    font-size: 2em;
    font-weight: 200;
    text-transform:uppercase;
    position: relative;
    margin-top: 3%;
    letter-spacing: 7px;
}
</style>
        <h1 class="thinner">Jinal Patel</h1>
        <h3 class="thinner">web Developer,Designer</h3>

  </body>
</html>
<%- include partials/footer.ejs %>
